.auth-form {
  width: 500px;
  height: 360px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding:  50px 20px;

  border: 2px solid rgb(230, 67, 121);

  &__tabs-indicator {
    background: purple;
  }

  &__tab {
    color: purple !important;
    border-bottom: 2px solid #ccc !important;
  }
}