.form {
  display: flex;
  flex-direction: column;

  &__input {
    margin-top: 40px !important;
  }

  &__button {
    margin-top: 60px !important;
    border-radius: 0 !important;
    background: rgb(230, 175, 230) !important;
    color:purple !important;
  }
}